<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>testLab</title>
	<link rel="stylesheet" href="./css/accordion.min.css" />
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" href="./css/style.min.css">
	<link rel="stylesheet" href="./css/media.css">
</head>

<body>
	<header class="header full">
		<div class="container header__inner">
			<a href="#" class="header__logo-link">
				<img src="./images/dist/logo.png" alt="logo" class="header__logo-img">
			</a>
			<nav class="header__menu">
				<div class="burger__head">
					<a href="#" class="header__logo-link header__nav-close">
						<img src="./images/dist/logoBurger.png" alt="logo" class="header__logo-img">
					</a>
					<button class="header__nav-close close" aria-label="закрыть меню">
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="2.09094" width="29.5699" height="2.95699" transform="rotate(45 2.09094 0)" fill="#333333" />
							<rect y="20.9092" width="29.5699" height="2.95699" transform="rotate(-45 0 20.9092)" fill="#333333" />
						</svg>
					</button>
				</div>
				<ul class="header__list">
					<li class="header__item">
						<a href="#sectionWork" class="header__item-link">
							Как это работает
						</a>
					</li>
					<li class="header__item">
						<a href="#sectionCredit" class="header__item-link">
							3-й блок
						</a>
					</li>
					<li class="header__item">
						<a href="#sectionQuestion" class="header__item-link">
							Вопросы и ответы
						</a>
					</li>
					<li class="header__item">
						<a href="#sectionForm" class="header__item-link">
							Форма
						</a>
					</li>
				</ul>
			</nav>
			<button class="header__top-menu" aria-label="открыть меню">
				<span class="menu__burger">
					<span class="burger__line"></span>
				</span>
			</button>
		</div>
		<div class="header__hero container">
			<div class="hero">
				<h2 class="hero__title">
					Говорят, никогда не поздно сменить профессию
				</h2>
				<p class="hero__text">
					Сделай круто тестовое задание и у тебя получится
				</p>
				<button class="hero__btn" aria-label="Проще простого!">
					Проще простого!
				</button>
			</div>
		</div>
	</header>